#album{width:806px; margin:-41px 0 0 24px; border-right:1px solid #dfdede;}
	#al_t{width:785px; height:35px; font-size:16px; font-weight:bold; line-height:30px; margin-top:25px; border-bottom:1px solid #dfdede; }
	#al_t img{margin-left:15px; margin:5px 5px 0 15px;float:left; display:inline;}
	#e_ret{float:right; margin-right:20px;}
	#e_ret a{font-weight:normal; font-size:14px; color:#999999; text-decoration:underline;}
	
	#d_m{width:772px; margin-left:13px; margin-top:27px;}
		#dm_t_l{width:4px; height:29px; background:url('/images/diary/t_t_left.gif') no-repeat;}
		#dm_t_m{width:90px; height:28px; font-size:16px; line-height:28px; text-align:center; overflow:hidden;border-top:1px solid #8f8f8f;}
		#dm_t_r{width:4px; height:29px; background:url('/images/diary/t_t_right.gif') no-repeat;}
		#dm_t_o{width:674px; height:29px;text-align:right; border-bottom:1px solid #e7e7e7; overflow:hidden;}
		#dm_t_o a{font-size:16px; line-height:24px; margin-left:15px; corlor:#598caa; text-decoration:underline;}
		
	.album_box{width:140px; height:209px; margin-top:10px; margin-left:30px; padding-right:20px; padding-bottom:10px; background:url("/images/album/albumbox.jpg") no-repeat;}
		.al_box{width:120px; line-height:16px; margin-top:15px; margin-left:10px;}
			.title{width:120px; height:14px; font-size:14px; color:#336699; font-weight:bold; overflow:hidden;}
			.image{width:100px; height:100px; margin-top:5px;}
			.image img{width:100px; height:100px; margin-left:10px;}
			.created{width:120px; height:16px; font-size:12px; color:#6d6d6d; margin-top:5px; text-align:center }
			.description{width:120px; height:32px; font-size:14px; text-align:justify; color:#6d6d6d; line-height:16px; overflow:hidden;}
			.total{font-size:12px; line-height:}
			.total font{font-size:12px; padding:0 2px; color:#ff0000;}
			.edit{float:right; margin-right:12px;}
			.edit a{font-size:12px; color:#0000ff;}
			.del{float:right;}
			.del img{width:14px; height:14px; margin-top:2px; cursor:pointer;}
			
		.al_bx{width:720px; margin:30px 0 0 20px; text-align:center; padding-bottom:10px; border:1px solid #e7e7e7;}
			.al{width:350px; margin-left:25px; line-height:24px; font-size:16px; margin-top:10px; padding-bottom:20px;}
			.al input{width:240px;}
			.al select{width:240px;}
		.al_bx font{ color:#336699; font-size:20px; line-height:60px;}
		.al_bx font a{color:#336699; text-decoration:underline;}
			
			#text{width:305px; margin-left:15px; margin-top:15px; font-size:14px; line-height:16px; padding-bottom:10px;}
			#text2{width:505px; margin-top:15px;}
			#text2 textarea{width:100%;}
			.submit{width:100px; height:28px; color:#ffffff; line-height:24px; boder:1px solid #FCC7A4; margin-top:25px; margin-right:40px; float:right; background:url("/images/album/sub.jpg") no-repeat;}
			
		#ps_t{width:772px; line-height:24px; margin-left:13px; margin-top:16px;}
		#ps_t a{font-size:16px;}
			#ps_total{font-size:14px; padding:0 20px; border-right:1px dotted #000000;}
			.ps_work{padding-right:15px; margin-left:10px;  overflow:hidden;}
			.ps_work a{color:#336699;}
			.ps_work2 {padding-left:5px; margin-right:10px;  overflow:hidden;}
			.ps_work2 a{color:#336699; text-decoration:underline;}
			.ps_info{font-size:14px; padding:0 20px;}
			.ps_info font{font-size:14px; color:#336699;}
			.ps_des{width:752px; font-size:14px; margin-left:20px; padding-bottom:16px; overflow:hidden;}
			#tr{float:right;}
		
		#imgbx{width:772px; margin-left:13px; text-align:center; margin-top:16px; overflow:hidden; border:1px solid #e7e7e7;}
		#imgbx img{cursor:pointer;}
		#good{float:right; font-size:20px; line-height:22px;  color:#336699; cursor:pointer; margin-right:70px;}
			#comment{width:772px; font-size:14px; line-height:20px; margin-left:13px;  margin-top:16px; font-weight:bold;}
			#pub_comment_box{width:95%;}
			.comment1{padding-left:20px; color:#336699;}
			