#avatar_box{width:806px; margin:-41px 0 0 24px; border-right:1px solid #dfdede;}
	#avatar_title{width:785px; height:35px; font-size:16px; font-weight:bold; line-height:30px; margin-top:25px; border-bottom:1px solid #dfdede; }
		#avatar_title img{margin-left:15px; margin:5px 5px 0 15px;float:left; display:inline;}
		
	#pic{width:781px; margin-top:25px;}
		#pic_left{width:360px; height:300px; margin:20px;  border:1px solid #dfdede;}
		#pic_left img{width:360px; height:300px; }
		#pic_r_t{width:350px; height:24px; line-height:20px; font-size:16px; font-weight:bold; margin-top:100px;}
		#pic_r_d{width:350px; height:24px; line-height:20px; font-size:14px;}
	#pic input{width:350px; height:30px; line-height:30px;}
	#pic button{width:75px; height:23px; color:#ffffff; margin-top:20px; margin-left:180px; background:url("/images/person/pe_sub.jpg") no-repeat;}
	
	#photo_show{width:781px; margin-top:25px;}
		#ph_t{width:765px; font-size:16px; line-height:30px; font-weight:bold; padding-left:16px; border-bottom:4px solid #a3c1cd;}
		#ph_t font{padding:0 4px; color:#336699;}
		#ph_t_s{padding:0 10px; float:right;}
		#ph_t_s a{color:#336699;}
		#ph_t_s font{padding:0 4px; font-weight:normal; color:#336699;}
		.photo{width:125px; height:119px; margin:18px 15px; background:url("/images/avatar/pg.jpg") no-repeat; }
		.photo.select{width:125px; height:119px; background:url("/images/avatar/pg2.jpg") no-repeat;}
		.photoselect{width:125px; height:119px; margin:18px 15px; background:url("/images/avatar/pg2.jpg") no-repeat;}
		.photo img{cursor:pointer; width:100px; height:100px; margin-left:12px; margin-top:8px;}
		.photoselect img{cursor:pointer; width:100px; height:100px; margin-left:12px; margin-top:8px;}