@CHARSET "UTF-8";

.pub_comment_num{width:100%; margin:10px 0; text-align:right;}
.pub_comment_name{width:100%; margin:0 0 10px 0; font-size:12px; line-height:14px; color:#0088FF;}
.pub_comment_comment{width:100%; margin:0 0 10px 0; }
.pub_comment_dig{width:100%; padding-bottom:20px; color:#0088FF; text-align:right; border-bottom:1px dotted #0088FF}
.pub_comment_dig a{color:#0088FF; font-size:14px; line-height:18px; cursor:pointer;}
.pub_comment_name{width:100%; margin:10px 0 10px 0; font-size:12px; line-height:14px;}
.pub_comment_all{width:100%; margin:1px 0 10px 0; text-align:right; color:#0088FF;}
.pub_comment_login{width:585px; margin-top:20px; padding-bottom:20px; border:1px solid #ABC6CF; background:#F0F0F0;}
.pub_comment_text{margin:20px 0 0 15px;}
.pub_comment_text input{width:100px; height:20px; border:1px solid #ABADB3; background:#FFFFFF;}
.pub_comment_text textarea{width:550px; height:100px; background-color:#fff; border:1px solid #666;}
.pub_comment_button{margin:5px 0 0 15px;}
.pub_comment_button button{width:100px;}
.pub_comment_button a{color:#4781AA;}