@CHARSET "UTF-8"; 
body{width:1000px; margin: 0 auto;  line-height:14px;  font-size:12px; font-family:宋体,Arial;  background:#00121E; }
body div{float:left;  display:inline; }
body a{text-decoration:none; color:#666666}
#ibody{width:1000px; background:#00121E; }
#title{width:1000px; margin:15px 0 0 0; padding-bottom:10px; background:#00121E; border-bottom:8px solid  #002135; }
#title_log{width:1000px; height:56px; margin-top:20px;}
#t_l_l{width:156px; height:60px; background:url("/images/index/t_l_l.jpg")}
#t_l_c{width:298px; height:40px; background:url("/images/index/t_l_c.jpg"); line-height:40px; font-size:14px;  font-weight:600; color:white; }
#t_l_c font{margin-left:9px; }
#t_l_c a{color:white;}
#t_l_r{width:385px; height:25px; float:right; margin:11px 0 0 0; color:#BBBBBB}
#t_l_r  input{width:80px; height:20px; padding:0; border:1px solid #C4C4C4; background:#00121E}
.t_l_r_c{line-height:21px; font-size:12px; margin-left:7px; }
.t_l_r_c  input{color:white; }
#log_in{width:46px; height:21px; margin-left:10px; }
#zhuce{text-decoration:none; font-size:12px; line-height:21px; margin-left:7px; font-weight:bold; }
#title_b{width:1000px; }
#logo{width:298px; height:142px; }
#people{width:318px; height:119px; margin-left:18px; margin-top:15px; }
#people_t{width:318px; height:25px; color:#F0F0F0; font-size:14px; line-height:20px; font-weight:bold; border-bottom:1px solid #2B4F69; letter-spacing:1px;}
.people_t_r{float:right; margin:6px 10px 0 0 ; }
#people_a{background:url("/images/index/jp_ad.jpg"); float:right; width:80px; height:83px; margin:10px 5px 0 0 ; }
#people_j{width:180px; height:83px; margin:15px 5px 0 0; }
#people_j font{color:#F0F0F0; font-size:12px; line-height; 15px; }
#people_j_t{width:100%; font-size:14px; line-height:20px; color:red; font-weight:bold; margin-bottom:5px; }
#mes{width:326px; height:109px; margin-top:25px; float:right; font-size:12px; line-height:16px; color:#D7D7D7; }
#mes_u_f{font-size:14px; line-height:20px; color:#D7D7D7; font-weight:bold; margin-left:5px; }
#mes_up a{text-decoration:underline}
#mes_c{width:300px; font-size:12px; line-height:15px;margin-top:10px; }
#mes_c  font{margin-left:10px; font-size:12px; line-height:15px;}
#mes_down{width:325px; height:20px;  margin-top:5px; }
#search{height:20px; width:230px; margin-top:1px;}
#search input{padding:0; border:0px;height:20px; background:#E6E8E9; width:230px; }
#search_add{width:20px; height:20px; margin-top:1px;}
#search_r{width:56px; height:23px; margin:0 0 0 8px; }

#head{width:1000px; height:41px; }
#head_l{width:910px; height:30px;  font-size:16px; line-height:30px; font-weight:bold;text-align:center; }
#head_l  div{color:#DBF6FB;text-align:center;}
#head_l  a{color:#DBF6FB; float:left;padding:0 11px;}
#head_l a:link{color:#DBF6FB}
#head_l_l {width:910px;background:#203F53;}
#head_l_l a:hover{background:#335368;}
#head_r{width:90px; height:41px; background:url("/images/index/head_r.jpg"); font-size:17px; line-height:40px; font-weight:bold; float:right; color:#DBF6FB; text-align:center}
#head_r a{padding:0 6px; text-align:center; color:#DBF6FB;}
#center{width:1000px; background:#ECF1FF; font-size:14px; line-height:18px;padding-bottom:20px; color:#666666; letter-spacing:1px; }
#center_h{width:970px; margin-left:30px; color:black; height:20px; }
#center_h a{margin:0 10px; color:black}
#center_h font{margin-left:10px; }
#center_l{width:585px; margin:16px 0 0 16px; }
#new_ad{margin-bottom:30px; }
#c_people{width:585px; }
#c_p_i{float:left; margin:0 10px 14px 0; }
#c_p_r{width:370px; height:130px; }
#c_p_r  font{float:left;}
#c_p_r_1{width:370px;font-size:17px; line-height:20px; font-weight:600; color:black; letter-spacing:3px; }
#c_p_r_2{font-size:14px; line-height:18px; font-weight:800; letter-spacing:1px; margin-top:5px;color:#333333}
#c_p_r_3{font-size:14px; line-height:18px; font-weight:100; color:red; letter-spacing:1px; margin-top:5px;}
#c_p_r_4{width:370px; font-size:14px; line-height:18px; font-weight:200; color:#333333; letter-spacing:1px; margin-top:5px;}
#c_p_r_5{font-size:12px; line-height:15px; font-weight:200; letter-spacing:1px; margin-top:5px;}
.point{color:black; font-size:16px; margin:0 5px 0 0; }
#c_p_r_l{margin-bottom:5px;width:370px; }
.c_p_r_r{margin-top:5px; color:black; width:100%}
#view{margin-top:15px; width:350px; }
#change{margin-top:15px; width:210px; float:right; }
.block{margin-bottom:5px; }
.v_i{float:left; margin:0 0px 4px 0; }
.v_c{float:left; margin-left:2px; width:260px; }
.v_c_b{float:left; padding: 5px  0  5px 0; width:100%;}
.v_c_b font{float:left; margin: 5px  0;}
.v_c_p{float:left; margin:15px  0  0 2px; width:100%; }
.v_c_t_1{width:210px;font-size:14px; line-height:18px; font-weight:600; color:black; letter-spacing:2px; float:left; }
.v_c_t_2{width:100%;margin-top:5px; float:left;font-size:14px; line-height:18px; margin-top:5px; }
.l_add{font-size:12px;margin-left:10px;float:left;}
.change_b{background:#E1EADB; padding:5px 0;}
.change_t{float:left; padding: 5px ; width:200px;}
.change_t font{float:left; margin: 5px  0;}
.change_t1{width:210px;font-size:14px; line-height:18px; font-weight:600; color:black; letter-spacing:2px; float:left; }
.cha_tt{font-size:14px; line-height:24px; color:black;font-weight:600;width:100%;}
.change_h{width:144px; height:24px; background:#5088AA; color:white;font-size:14px; line-height:24px; text-indent:10px; font-weight:bold; }
#lecture{margin-top:15px; width:350px; float:left; }


#lec_i{color:black; height:65px; margin:20px 5px 0 0; line-height:16px; ; font-size:14px}
#lec_i img{width:116px; height:65px; margin-right:5px; }
#lec_i div{float:right; width:80px; margin-top:5px; }
#award{background:url("/images/index/award.jpg"); width:590px; height:90px; margin-top:10px; }
#award img{margin-top:50px; margin-left:330px; float:left; }
#course{width:282px; margin-top:15px; }
#research{width:286px; margin-top:15px; float:right; }
#course  hr{border:1px #cccccc dotted; }
#research  hr{border:1px #cccccc dotted; }
#column{width:585px; margin-top:20px;}
#column_c{width:585px; text-align:center;}
.column_d{width:150px; margin:15px 0 15px 37px; text-align:center;}
.column_d_h{width:150px;;font-size:14px; line-height:18px; font-weight:600; color:black; letter-spacing:2px; float:left;}

.talk{width:100%; margin-top:10px;}
.talk_t{width:280px;}
.talk_h{width:100px; height:24px; background:#5088AA; color:white;font-size:16px; line-height:24px;font-weight:bold; text-align:center; }
.talk_c{width:100%;margin-top:10px;}
.talk_c img{float:left;}
.talk1{color:black; margin-left:10px; font-weight:bold; width:200px; }
.talk2{color:#666666; margin-left:10px;  margin-top:5px; width:200px; }
.ylawyer{width:585px; margin-top:20px;}
.ylaw{width:285px; }
.ylaw img{float:left;}
.ylaw1{color:black; margin-left:5px; margin-bottom:10px; font-weight:bold; width:280px; }
.ylaw2{color:#666666;  width:200px; margin:0 5px 10px 5px;}
#cl_ad{margin:20px 0 0px 10px;;}

/*the title of center_l*/
.c_title{width:100%; height:22px; font-weight:bold; line-height:16px; ; font-size:14px; margin-bottom:10px; }
.c_title img{float:left; }
.c_title font{float:left; }
.r_title{width:100%; height:22px; font-weight:bold; line-height:22px; margin:5px 0 ; font-size:12px; color:black}
.r_title img{float:left; }
.r_title font{float:left; }
.c_t_n{width:100%; height:22px; color:#9E2F2F;font-size:16px;line-height:22px; }
.c_t_n font{float:left;}
.c_t_n img{float:right; margin:4px 5px 0 5px; }
.c_t_b{height:22px; margin-left:10px; color:#9E2F2F; background:url("/images/index/c_t_b.jpg"); }

#expert{width:355px; }
#exp_h{width:230px; height:24px; font-size:12px; font-weight:600; line-height:24px; color:white; background:url("/images/index/lawyer_h.jpg");  text-align:center;}
#exp_h  div{height:24px; width:67px; margin-left: 8px; text-align:center;}
#exp_h  div:hover{background:url("/images/index/lawyer_h_q.jpg"); }
#exp_h   a{  text-align:center;  color:white;  padding:0 5px;height:24px;}
#exp_h   a:hover{color:black;  }

#exp_c{width:355px;}
#exp_c img{margin:20px 0  10px 30px; }
#exp_d{width:100%; font-size:12px; line-height:14px; font-weight:bold;}
#exp_d font{margin:0 5px 0px 32px;float:left;font-size:12px; line-height:14px; }
#s_l{margin:0px 0px 10px 0px; width:330px;; font-weight:bold; padding:10px; font-size:12px;line-height:16px;background:#E6ECFB; }
#s_l div{margin-top:10px; width:150px; }
#s_l_i{margin-top:16px; width:300px; }
#s_l a{margin-right:10px; margin-top:16px; }
#s_l font{float:left; ; font-size:12px;line-height:16px;}
#s_r{margin:20px 20px ; width:100%; }
#s_r  font{margin:5px; }
#s_r  hr{float:left}
.s_r_h{font-size:13px; line-height:15px; font-weight:bold; width:20%; color:black; font-weight:bold; }
.s_r_h  font{float:left; margin-left:5px; }
#center_r{width:355px; margin:16px 16px 0 0; border-left:1px solid #CED7DF; border-top:1px solid #CED7DF; float:right;}
.lecture{width:160px; margin:0px 8px 16px 8px; }
#food  font{font-size:13px; margin-top:5px; }
#lawyer{width:355px; }
#law_h{width:355px; height:24px; font-size:12px;  line-height:24px;  background:url("/images/index/lawyer_h.jpg"); color:white; margin-bottom:10px; }
#law_h a{color:white}
#law_h a:hover{color:black}
#law_h div{width:67px; height:24px; margin:0 2px;  color:white; text-align:center; font-weight:bold;}
#law_h div:hover{ background:url("/images/index/lawyer_h_q.jpg");  color:black}
#law_tt{margin:10px 20px 5px  10px; }
.lawyer1{width:325px; height:58px; line-height:52px; color:red; border-bottom:1px dotted #666666 ; }
.lawyer1 img{margin-left:10px; float:left; }
.lawyer_t{font-size:12px; line-height:20px; color:black; font-weight:bold; margin-left:5px; width:195px; }
.lawyer_s{font-size:12px; line-height:16px; color:#666666; margin-left:5px; width:195px; letter-spacing:0.2px; }
.lawyer_p{font-size:12px; line-height:20px; color:#666666; margin-left:8px; width:300px; letter-spacing:0.2px; }
.lawyer2{width:325px; height:25px; border-bottom:1px dotted #666666 ; margin-top:5px; }
.lawyer_c{width:16px; height:16px; background:url("/images/index/lawyer_c.jpg"); font-size:12px; line-height:16px; text-align:center; }
#bussiness{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#buss_h{width:355px; height:25px; line-height:25px; }
#buss_h  font{float:left; font-weight:bold; }
#buss_t{width:355px; height:20px; line-height:20px; }
#buss_t1{width:65px; height:20px; }
#buss_t2{width:215px; height:20px; margin:0  3px; }
.buss_b1{background:#DFE2E9}
.buss_b2{background:#E6E8EF}
#meeting{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#meeting a{color:#003869;}
#job{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#rss{width:355px; height:40px; margin:10px 0; border:1px solid #8EAFC7}
#rss_in{width:350px; height:35px; background:#BDD8EB; margin:2.5px; }
#rss_in img{float:left; }
#rss_in input{line-height:22px; }
#rss_p{margin:5px 0 0 5px; }
#rss_in input{width:210px; height:22px; font-size:12px;  border:1px solid #748E9D; float:left; margin:5px; color:#666666}
#cr_ad img{margin:30px 5px;float:left;}
#add{margin:5px; }
.rank{border-bottom:1px solid #DEE1E8}
.rank font{margin-left:5px;float:left;}
.rank img{margin-left:5px;}
.rank1{width:255px; font-size:14px; line-height:16px; font-weight:600; color:black; letter-spacing:1px; float:left; margin-top:5px; }
.rank2{margin-top:5px; float:left; font-size:12px; line-height:14px; float:left;}
#bom_up{width:1000px; height:85px; background:#203F53; }
#b_u_u{width:385px; height:25px; float:left; margin:10px 0 0 80px ; color:#BBBBBB}
#b_u_u input{width:80px; height:20px; padding:0; border:1px solid #C4C4C4; background:#203F53}
#b_u_d{width:920px; height:30px; margin:10px 40px; font-size:14px; line-height:30px; color:white; text-align:center; }
#b_u_d font{color:white; margin-left:17px; margin-right:20px; }
#bottom{width:1000px; background:#0D2031; color:#999999; font-size:13px; line-height:15px; }
#bom_down{margin:0 20px; width:960px;; }
.b_d{width:66px; font-size:14px; line-height:20px; margin:20px 35px 20px  39px; }
.b_d font{margin-top:10px; float:left; width:80px; color:white; }
.b_d_h{font-weight:bold; }
.b_d_x{width:12px; height:180px; margin-top:40px ;background:url("/images/index/b_d_x.jpg");}
#b_d_d{width:890px;font-size:16px;line-height:24px;font-weight:bold;color:white;margin-left:20px;}
#b_d_d a{font-size:14px; line-height:24px; font-weight:200; margin-left:25px;color:#A6C3DA; }
#bottom1{margin-top:25px; margin-left:275px; }
#bottom2{margin-top:5px; margin-left:345px; }
#bottom3{margin-top:5px; margin-left:385px;margin-bottom:10px; }
.bord{border-bottom:1px solid #DADEE3}

