@CHARSET "UTF-8"; 
body{width:1000px; margin: 0 auto;  line-height:14px;  font-size:12px; font-family:宋体,Arial; background:#FFFFFF; }
body div{float:left;  display:inline; }
body a{text-decoration:none; color:#336699;}
#ibody{width:1000px;letter-spacing:1px;}

#title{width:1000px; height:57px; background:#FF6A00;}
#title img{margin:0 25px 0 45px; float:left;}
#title a{color:#FFFFFF; }
#tt_l{height:16px; margin-top:20px; font-size:14px; line-height:16px;color:white; font-weight:600;}
#tt_l a{margin:0 20px;}
#tt_l font{font-size:14px; line-height:16px;}
#tt_r{height:14px; margin-top:21px; font-size:12px; line-height:14px; margin-right:30px; color:white; float:right;}
#tt_r a{margin:0 10px;font-size:12px; line-height:14px;}
#tt_r font{font-size:12px; line-height:14px;}

#center{width:1000px; border-bottom:2px solid #C4C4C4;}
#cen_l{width:245px; padding-bottom:300px; background:#EFEFEF;}
#login{width:215px;padding:25px 0;margin:0 0 0 30px;border-bottom:1px solid #FFFFFF;}
.log_t{line-height:25px;margin:5px 0;}
.log_in{margin:5px 0 5px 5px; border:1px black;}
.log_in input{height:21px;width:140px; border:1px solid black;}
#chc_box{width:190px;height:20px;margin:20px 0; line-height:20px; text-align:center;}
#l_submit button{width:72px; height:27px; margin-left:45px; border:0px; cursor:pointer; background:url("/images/login/login.jpg"); float:left; }
#l_submit a{margin:10px 0 0 20px; color:#336699; text-decoration:underline;float:left;}
#rigister{width:190px;padding:20px 0;margin:0 27px;border-top:1px solid #DDDDDD;}
#rig_t{width:190px;margin-bottom:10px;font-size:12px; line-height:14px;}
#rig_t font{margin-left:5px;font-size:12px; line-height:14px;}
#rig_d font{font-size:12px; line-height:14px;}
#rig_d a{margin-left:12px; font-size:12px; line-height:14px;}
#rigister a{color:#336699; text-decoration:underline;}
#rig_key{width:200px;height:30px;margin:0 22px; font-size:14px; line-height:30px; text-align:center; background:#85B5DA; }
#rig_key a{color:white;}
#flash{margin:15px 0 0 25px;}
#bottom{width:1000px; height:14px; margin:25px 0 25px 0; text-align:center; letter-spacing:1px;  }
#bottom a{padding:0 10px;}