@CHARSET "UTF-8";
body{width:1000px; margin: 0 auto;  line-height:14px;  font-size:12px; font-family:宋体,Arial;}
body div{float:left;  display:inline; }
body a{text-decoration:none;}
#ibody{width:1000px;}

/*person_top*/
#logo{width:170px; height:81px; background:url(/images/person/logo.jpg) no-repeat; overflow:hidden;}
#person_top{width:825px; height:40px; background:#f86f11;}
#person_side{width:5px; height:40px; background:url(/images/person/top_side.jpg) no-repeat; overflow:hidden;}
#person_top .jump{width:64px; height:40px; line-height:40px; font-size:16px; font-weight:bold; text-align:center;}
#person_top .jump a{color:#ffffff;}
#person_top .jumpvertical{width:1px; height:38px; font-size:16px; line-height:38px; color:#ffffff;}
#person_search{height:40px; margin-right:20px; line-height:40px; float:right;}
#person_search #search{width:113px; height:19px; margin-top:9px; border:1px solid #c0dbdb; background:#ffffff; overflow:hidden; float:right;}
#person_search #search_l{width:95px; height:19px; overflow:hidden;}
#person_search #search_l input{width:95px; height:19px; border:none;}
#person_search #search_r{width:18px; height:19px; overflow:hidden; float:right;}
#person_search #search_r button{width:18px; height:19px; border:none; background:url(/images/person/btn_search.jpg) no-repeat;}
#person_search #content{margin-right:10px; float:right;}
#person_search #content .context{width:31px; height:40px; text-align:center;}
#person_search #content .context a{color:#ffffff;}

/*person_bottom*/
#person_line{width:1000px; height:2px; margin-top:10px; background:#dedede; overflow:hidden;}
#person_about{width:1000px; height:16px; text-align:center; margin-top:20px; line-height:16px; color:#666666;}
#person_about a{color:#666666;}

/*person_left*/
#person_index_left{width:169px; padding-bottom:10px; background:#666666;clear:both;}
#person_index_left #medal{width:125px; height:51px; margin-top:10px; margin-left:22px; background:#f7f2d2;}
#person_index_left #medal #close{height:12px; margin-top:3px; margin-right:10px; cursor:pointer; float:right;}
#person_index_left #medal #top{width:110px; height:15px; margin-left:5px; line-height:15px; color:#646362; overflow:hidden;}
#person_index_left #medal #bottom{width:120px; height:20px; margin-left:2px; line-height:20px; color:#3783B6; overflow:hidden;}

#person_index_left button{width:123px; height:27px; margin-top:5px; margin-left:22px; border:none; text-align:center; color:#000000; line-height:27px; background:url(/images/person/left_btn_bg.jpg) repeat-x;}
#person_index_left .title{width:95px; height:17px; margin-top:10px; margin-left:22px; padding-top:8px; padding-left:10px; border:1px solid #cccccc; border-bottom:none; font-size:14px; color:#00446D; font-weight:bold; background:url(/images/person/left_title_bg.jpg) repeat-x;}
#person_index_left .titlebottom{width:161px; height:1px; margin-bottom:10px; margin-left:4px; background:url(/images/person/left_title_bottom.gif) no-repeat; overflow:hidden}
#person_index_left .content{width:113px; height:20px; margin-left:32px; font-size:14px; line-height:20px;}
#person_index_left .content a{color:#ffffff;}
#person_index_left .system{width:100px; height:20px; margin-top:5px; padding-left:20px; line-height:20px; margin-right:5px; font-size:14px; font-weight:bold; background:url(/images/person/alert.jpg) no-repeat 3px; text-align:right; float:right;}
#person_index_left .system a{color:#ffffff;}
#person_index_left .systemline{width:123px; height:3px; background:url(/images/person/left_line.gif) no-repeat; overflow:hidden; float:right;}
#person_index_left .servertitle{width:113px; height:20px; margin-top:20px; margin-left:32px; font-size:14px; line-height:20px; font-weight:bold;}
#person_index_left .servertitle a{color:#ffffff;}
#person_index_left .servercontent{width:100px; height:20px; margin-left:32px; padding-left:12px; line-height:20px; background:url(/images/person/triangle.jpg) no-repeat 6px; overflow:hidden;}
#person_index_left .servercontent a{color:#ffffff;}

#main_container{margin-left:10px; margin-top:-35px; width: 820px}
