@CHARSET "UTF-8";
#person_info_center{width:777px; margin-top:20px; margin-right:20px; padding:3px; background:#e0e0e0; float:right;}
#person_info_center #info{width:777px; background:#ffffff;}
#person_info_center #info #title{width:743px; height:44px; margin-left:17px; border-bottom:1px solid #dfdede; line-height:44px; color:#000000; font-size:14px; font-weight:bold;}
#person_info_center #info #title a{color:#666666; font-size:12px; font-weight:normal; text-decoration:underline; float:right;}
#person_info_center #info table{width:667px; margin-bottom:10px; margin-left:55px;}
#person_info_center #info table td{line-height:37px; font-weight:bold; border-bottom:1px dashed #e1e1e1;}
#person_info_center #info table button{width:77px; height:25px; margin-top:10px; line-height:25px; border:0px; color:#ffffff; background:url('/images/person/info_btn.jpg') no-repeat; text-align:center;}

