@CHARSET "UTF-8";
body{width:1000px; margin: 0 auto;  line-height:14px;  font-size:12px; font-family:宋体,Arial;  background:#00121E; }
body div{float:left;  display:inline; }
body a{text-decoration:none; color:#666666}
#ibody{width:1000px; background:#00121E; }

/*title*/
#title{width:1000px; margin:15px 0 0 0;  background:#00121E; }
#title_log{width:1000px; height:56px; margin-top:20px;}
#t_l_l{width:156px; height:60px; background:url("/images/index/t_l_l.jpg")}
#t_l_c{width:298px; height:40px; background:url("/images/index/t_l_c.jpg"); line-height:40px; font-size:14px;  font-weight:600; color:white; }
#t_l_c font{margin-left:11px; line-height:40px; font-size:14px;  font-weight:600;}
#t_l_c a{color:white; line-height:40px; font-size:14px;  font-weight:600;}
#t_l_r{width:385px; height:25px; float:right; margin:11px 0 0 0; color:#BBBBBB}
#t_l_r  input{width:80px; height:20px; padding:0; border:1px solid #C4C4C4; background:#00121E}
.t_l_r_c{line-height:21px; font-size:12px; margin-left:7px;}
.t_l_r_c  input{color:white;}
#login_btn0{cursor:pointer;}
#login_btn1{cursor:pointer;}
.logout{line-height:21px; font-size:12px; margin-left:7px; cursor:pointer;}
#log_in{width:46px; height:21px; margin-left:10px; }
#zhuce{text-decoration:none; font-size:12px; line-height:21px; margin-left:7px; font-weight:bold; }
#title_b{width:1000px; padding-bottom:10px; border-bottom:8px solid  #002135;  }
#logo{width:298px; height:142px; }
#people{width:318px; height:119px; margin-left:18px; margin-top:15px; }
#people_t{width:318px; height:25px; color:#F0F0F0; font-size:14px; line-height:20px; font-weight:bold; border-bottom:1px solid #2B4F69; letter-spacing:1px;}
.people_t_r{float:right; margin:6px 10px 0 0 ; }
#people_a{float:right; width:80px; height:83px; margin:10px 5px 0 0 ; }
#people_j{width:180px; height:83px; margin:15px 5px 0 0; }
#people_j font{color:#F0F0F0; font-size:12px; line-height; 15px; }
#people_j_t{width:100%; font-size:14px; line-height:20px; color:red; font-weight:bold; margin-bottom:5px; }
#mes{width:326px; height:109px; margin-top:25px; float:right; font-size:12px; line-height:16px; color:#D7D7D7; }
#mes_u_f{font-size:14px; line-height:20px; color:#D7D7D7; font-weight:bold; margin-left:5px; }
#mes_up{margin-bottom:20px; }
#mes_up a{text-decoration:underline}
#mes_c{width:300px; font-size:12px; line-height:15px;}
#mes_c  font{margin-left:10px; font-size:12px; line-height:15px;}
#mes_down{width:325px; height:23px;  margin-top:5px; }
#search{height:20px; width:230px; margin-top:1px;}
#search input{padding:0; border:0px;height:20px; background:#E6E8E9; width:230px; }
#search_add{width:20px; height:20px;  margin-top:1px !important; *margin-top:2px;*margin-top:2px !important;}
#search_add button{width:20px; height:20px; border:0px; cursor:pointer; background:url('/images/index/search.jpg') no-repeat;}
#search_r{width:56px; height:23px; margin:0 0 0 8px; }
.c_title{width:100%; height:22px; font-weight:bold; line-height:16px; ; font-size:14px; margin-bottom:10px; }
.c_title img{float:left; }
.c_title font{overflow:hidden; float:left; }
.r_title{width:100%; height:22px; font-weight:bold; line-height:22px; margin:5px 0 ; font-size:12px; color:black}
.r_title img{float:left; }
.r_title font{float:left; }
.c_t_n{width:100%; height:22px; color:#9E2F2F;font-size:16px;line-height:22px; }
.c_t_n font{float:left;}
.c_t_n img{float:right; margin:4px 5px 0 5px; }
.c_t_b{height:22px; margin-left:10px; color:#9E2F2F; background:url("/images/index/c_t_b.jpg"); }
.more{font-size:12px; line-height:14px; float:right;}

/*center_head*/
#head{width:1000px; height:41px;background:#ECF1FF; }
#head_l{width:910px; height:30px;  font-size:16px; line-height:30px; font-weight:bold;text-align:center; }
#head_l  div{color:#DBF6FB;text-align:center;}
#head_l  a{color:#DBF6FB; float:left;padding:0 11px;}
#head_l a:link{color:#DBF6FB}
#head_l_l {width:910px;background:#203F53;}
#head_l_l a:hover{background:#335368;}
#head_r{width:90px; height:41px; background:url("/images/index/head_r.jpg"); font-size:17px; line-height:40px; font-weight:bold; float:right; color:#DBF6FB; text-align:center}
#head_r a{padding:0 6px; text-align:center; color:#DBF6FB;}
#center_h{width:970px; padding-left:30px; color:black; height:20px;background:#ECF1FF; }
#center_h a{margin:0 10px; color:black}
#center_h font{margin-left:10px; }

/*bottom*/
#bom_up{width:1000px; height:85px; background:#203F53; }
#b_u_u{width:385px; height:25px; float:left; margin:10px 0 0 80px ; color:#BBBBBB}
#b_u_u input{width:80px; height:20px; padding:0; border:1px solid #C4C4C4; background:#203F53}
#b_u_d{width:920px; height:30px; margin:10px 40px; font-size:14px; line-height:30px; color:white; text-align:center; }
#b_u_d font{color:white; margin-left:17px; margin-right:20px; }
#bottom{width:1000px; background:#0D2031; color:#999999; font-size:13px; line-height:15px; }
#bom_down{margin:0 20px 0 20px; width:960px;; }
.b_d{width:66px; font-size:14px; line-height:20px; margin:20px 35px 20px  35px; }
.b_d font{margin-top:10px; float:left; width:80px; color:white; }
.b_d_h{font-weight:bold; }
.b_d_x{width:12px; height:180px; margin-top:40px ;background:url("/images/index/b_d_x.jpg");}
#b_d_d{width:890px;font-size:16px;line-height:24px;font-weight:bold;color:white;margin-left:20px;}
#b_d_d a{font-size:14px; line-height:24px; font-weight:200; margin-left:25px;color:#A6C3DA; }
#bottom1{margin-top:25px; margin-left:275px; }
#bottom2{margin-top:5px; margin-left:345px; }
#bottom3{margin-top:5px; margin-left:385px;margin-bottom:10px; }

/*right*/
#center_r{width:355px; margin:16px 16px 0 0; border-left:1px solid #CED7DF; border-top:1px solid #CED7DF; float:right;}
.lecture{width:160px; margin:0px 8px 16px 8px; }
#lawyer{width:355px; }
#law_h{width:355px; height:24px; font-size:12px;  line-height:24px;  background:url("/images/index/lawyer_h.jpg"); color:white; margin-bottom:10px; }
#law_h a{color:white}
#law_h a:hover{color:black}
#law_h div{width:67px; height:24px; margin:0 2px;  color:white; text-align:center; font-weight:bold;}
#law_h div:hover{ background:url("/images/index/lawyer_h_q.jpg");  color:black}
#law_tt{margin:10px 20px 5px  10px; }
.lawyer1{width:325px; height:58px; line-height:52px; color:red; border-bottom:1px dotted #666666 ; }
.lawyer1 img{margin-left:10px; float:left; }
.lawyer_t{font-size:12px; line-height:20px; color:black; font-weight:bold; margin-left:5px; width:195px; }
.lawyer_s{font-size:12px; line-height:16px; color:#666666; margin-left:5px; width:195px; letter-spacing:0.2px; }
.lawyer_p{font-size:12px; line-height:20px; color:#666666; margin-left:8px; width:300px; letter-spacing:0.2px; }
.lawyer2{width:325px; height:25px; border-bottom:1px dotted #666666 ; margin-top:5px; }
.lawyer_c{width:16px; height:16px; background:url("/images/index/lawyer_c.jpg"); font-size:12px; line-height:16px; text-align:center; }
#bussiness{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#buss_h{width:355px; height:25px; line-height:25px; }
#buss_h  font{float:left; font-weight:bold; }
#buss_t{width:355px; height:20px; line-height:20px; }
#buss_t1{width:65px; height:20px; }
#buss_t2{width:215px; height:20px; margin:0  3px; }
.buss_b1{background:#DFE2E9}
.buss_b2{background:#E6E8EF}
#meeting{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#meeting a{color:#003869;}
#job{width:355px; margin:2px 0; font-size:12px; line-height:20px; text-align:center}
#rss{width:355px; height:40px; margin:10px 0; border:1px solid #8EAFC7}
#rss_in{width:350px; height:35px; background:#BDD8EB; margin:2.5px; }
#rss_in img{float:left; }
#rss_in input{line-height:22px; }
#rss_p{margin:5px 0 0 5px; }
#rss_in input{width:210px; height:22px; font-size:12px;  border:1px solid #748E9D; float:left; margin:5px; color:#666666}
#cr_ad img{margin:30px 5px;float:left;}
#add{margin:5px; }
.rank{border-bottom:1px solid #DEE1E8}
.rank font{margin-left:5px;float:left;}
.rank img{margin-left:5px;}
.rank1{width:255px; font-size:14px; line-height:16px; font-weight:600; color:black; letter-spacing:1px; float:left; margin-top:5px; }
.rank2{margin-top:5px; float:left; font-size:12px; line-height:14px; float:left;}