@CHARSET "UTF-8";
body{width:1000px; margin: 0 auto;  line-height:16px;  font-size:14px; font-family:宋体,Arial;  background:#00121E; }
body div{float:left;  display:inline; }
body a{text-decoration:none; color:#666666}
#ibody{width:1000px; background:#00121E; }
#center{width:1000px; background:#ECF1FF; font-size:14px; line-height:16px;padding-bottom:20px; color:#666666; letter-spacing:1px; }
#center_l{width:585px; margin:16px 0 0 16px; }
.c_t_b{height:22px; margin-left:5px; color:#9E2F2F; background:url("/images/index/c_t_b.jpg"); }
.c_title{width:100%; height:22px; font-weight:600; line-height:16px; ; font-size:14px; margin-bottom:10px; }

#research_top{width:100%; margin-bottom:20px; letter-spacing:0px;}
#rea_t_t{width:100%; font-size:16px; line-height:18px; color:#003869; letter-spacing:1px;}
#rea_t_c{width:100%; margin-top:10px; line-height:20px;}
#research_now{width:280px;}
.research{width:100%; height:48px; margin-top:5px;}
.research img{margin-right:10px; float:left;}
.research1{width:220px; }
.more{margin-right:15px;}
.more_big{margin:20px 0; font-size:14px; line-height:16px; float:right;}
.more_big a{font-size:14px; line-height:16px; text-decoration:underline;}

#report_now{width:280px; float:right; letter-spacing:0px;}
.research2{width:220px; color:#003869}
#cl_ad{margin:880px 0 0px 10px;;}